<div class="ui text container">
  <p>Em crescimento, a cidade de Pau dos Ferros, conhecida também como a Princesinha do Oeste, é a capital do Alto Oeste Potiguar, tendo a sua economia movimentada pela prestação de serviços, e fortemente pelo comércio, além da consolidação como cidade universitária, movimentada por milhares de estudantes de instituições públicas de ensino como o IFRN, UERN, UFERSA, além de instituições privadas.</p>
  <p>Com todo esse movimento, a capital do Alto Oeste potiguar recebe todos de braços abertos, com várias opções de hospedagem e gastronomia.</p>
</div>
<div class="ui container">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h2>Hospedagem</h2>
        <p>Hotel Anízio: <br>(84) 3351-2134<br>(84) 99942-0130 (whatsapp)<br><a href="https://www.facebook.com/hotelanizio">facebook.com/hotelanizio</a></p>
        <p>Pousada Mão Preta<br>(84) 3351-4051<br><a href="https://www.facebook.com/pages/Pousada-Mão-Preta/186796984784472">facebook.com/pages/Pousada-Mão-Preta/186796984784472</a></p>
        <p>Hertz Center Hotel<br>(84) 3351-2502<br><a href="https://www.facebook.com/hertzcenterhotel">facebook.com/hertzcenterhotel</a></p>
        <p>Hotel Jatobá<br>(84) 3351-2211<br><a href="https://hotel-pousada-do-jatoba.negocio.site">hotel-pousada-do-jatoba.negocio.site</a></p>
        <p>Pousada Pôr do Sol<br>(84) 3352-3166 / 3351-2158</p>
      </div>
      <div class="column">
        <h2>Gastronomia</h2>
        <p>Pizzaria e Restaurante Água na Boca<br>(84) 99929-3824<br><a href="https://pizzariaerestauranteaguanaboca.negocio.site">pizzariaerestauranteaguanaboca.negocio.site</a></p>
        <p>Recanto Potiguar Restaurante e Self-Service de Açaí<br>(84) 9-9844-4560<br><a href="https://www.facebook.com/recantopotiguar">facebook.com/recantopotiguar</a></p>
        <p>Edmilson Bar e Restaurante<br>(84) 3351-2901</p>
        <p>Tapiocaria e Point do Açaí<br>(84) 99615-4652<br><a href="https://www.facebook.com/Pointdoacaipdf">facebook.com/Pointdoacaipdf</a></p>
        <p>Restaurante Família<br>(84) 99919-1653</p>
        <p>Restaurante Tijuca Grill<br>(84) 99851-3523<br><a href="https://tijuca-grill.business.site">tijuca-grill.business.site</a></p>
        <p>Delicias da Ari<br>(84) 98121-0899<br><a href="https://www.facebook.com/DeliciasDaAri">facebook.com/DeliciasDaAri</a></p>
        <p>Donna Margueritta Pizzaria<br>(84) 3351-4642<br><a href="https://www.facebook.com/donnamarguerittapizzaria">facebook.com/donnamarguerittapizzaria</a></p>
        <p>Padaria Modelo<br>(84) 3351-2131</p>
      </div>
      <div class="column">
        <h2>Farmácias</h2>
        <p>Farmácia Independência<br>(84) 3351-2863</p>
        <p>Farmácia Ideal<br>(84) 3351-2869</p>
        <p>Farmácia Padre Carlos<br>(84) 33512468</p>
        <p>Farmácia Pague Menos<br>(84) 3351-9016</p>
        <h2>Números uteis</h2>
        <p>Corpo de Bombeiros<br>(84) 98129-3871</p>
        <p>Polícia Militar<br>(84) 3351-2729</p>
        <p>Polícia Civil<br>(84) 3351-9650</p>
      </div>
    </div>
  </div>
</div>