<div class="ui text container">
  <p>As inscrições da EXPOTEC assim como dos demais eventos que acontecerão paralelamente deverão ser efetuadas por meio do preenchimento do formulário online apenas pelo site do evento, tendo-se a atenção para preencher todas as informações necessárias solicitadas.</p>
  <p>Para cada inscrição será cobrado 1 (um) kg de alimento não perecível que deverá ser entregue no ato do credenciamento. Todos os alimentos serão destinados a instituições carentes.</p>
  <p>O credenciamento dos eventos terá início dia 10 e seguirá até o dia 14 de dezembro de 2018 das 7:00 ás 11:00, mediante apresentação de documento oficial com foto (RG, CNH, carteira de trabalho), não sendo permitido o credenciamento por terceiros. A entrega do material do evento seja condicionada apenas aos 1000 primeiros inscritos.</p>
  <div class="ui middle aligned stackable grid">
    <div class="row">
      <div class="center aligned column">
        <a href="{% url 'registration_register' %}" class="ui huge primary button">Faça sua inscrição <i class="right arrow icon"></i></a>
      </div>
    </div>
  </div>
</div>