<div class="ui container">
  <h2 class="ui centered header">
    EXPOTEC
  </h2>
  <div class="ui stackable internally celled grid">
    <div class="three column row">
      <div class="column">
        <h4>Credenciamento</h4>
        <ul>
          <li>Danielle Bezerra dos Santos</li>
          <li>Thayanny Vasconcelos</li>
          <li>Camila Freitas Bezerra</li>
          <li>Sheila Beatriz da Silva Fernandes</li>
          <li>Ticiane Goncalves Sousa de Melo</li>
          <li>Maria da Gloria Vieira Anselmo</li>
          <li>Francisco Rosiglei do Rêgo</li>
          <li>Natieli Piovesan</li>
        </ul>
      </div>
      <div class="column">
        <h4>Científica Pôster</h4>
        <ul>
          <li>Daniele Bezerra dos Santos</li>
          <li>Maikon Moises de Oliveira Maia</li>
          <li>Adalva Lopes Machado</li>
          <li>Thiago Gonçalves das Neves</li>
          <li>Nathalia Kelly de Araújo</li>
          <li>Luciene Xavier de Mesquita</li>
          <li>Camila Freitas Bezerra</li>
          <li>Ayla Marcia Cordeiro Bizerra</li>
          <li>Gleison Silva Oliveira</li>
          <li>Kaio Henrique Fonseca Dantas</li>
        </ul>
      </div>
      <div class="column">
        <h4>Científica Oral</h4>
        <ul>
          <li>Maikon Moises de Oliveira Maia</li>
          <li>Francisco Carlos de Lucena</li>
          <li>Marcelino Gevilbergue Viana</li>
          <li>Nathalia Kelly de Araújo</li>
          <li>Ayla Marcia Cordeiro Bizerra</li>
          <li>Oberto Grangeiro da Silva</li>
          <li>Ulysses Vieira da Silva Ferreira</li>
        </ul>
      </div>
      <div class="column">
        <h4>Minicursos e Oficinas</h4>
        <ul>
          <li>Felipe Morais de Melo</li>
          <li>Sheila Beatriz da Silva Fernandes</li>
          <li>Lucas Soares Chnaiderman</li>
          <li>Rodolfo Rodrigues Medeiros</li>
          <li>Atson Paulo Barreto Santos</li>
          <li>Kaiser Jackson Pereira de Sousa</li>
          <li>Louise Duarte Matias de Amorim</li>
          <li>Yokky Ywky Dantas de Oliveira</li>
        </ul>
      </div>
      <div class="column">
        <h4>Palestras</h4>
        <ul>
          <li>Gilson Jose Rodrigues Junior</li>
          <li>Nathalia Kelly de Araújo</li>
          <li>Antonio Vinnie dos Santos Silva</li>
          <li>Francisco Rosiglei do Rêgo</li>
          <li>João Fernando Barreto de Brito</li>
        </ul>
      </div>
      <div class="column">
        <h4>Cultural</h4>
        <ul>
          <li>Marcelino Gevilbergue Viana</li>
          <li>Jose de Oliveira Miranda Junnior</li>
          <li>Emanuel Alves Leite</li>
          <li>Natalia Kils de Andrade Queiroz</li>
          <li>Adriana Melo Leita</li>
          <li>Jucely Regis dos Anjos Silva</li>
          <li>Wigna Thalissa Guerra</li>
          <li>Francisco Aristonio de Almeida Santos</li>
        </ul>
      </div>
      <div class="column">
        <h4>Divulgação</h4>
        <ul>
          <li>Francisco Marcilio de Carvalho Franca</li>
          <li>Felipe Morais de Melo</li>
          <li>Atson Paulo Barreto Santos</li>
          <li>Aildo da Silva Pimenta</li>
        </ul>
      </div>
      <div class="column">
        <h4>Site</h4>
        <ul>
          <li>Aluisio Igor Rego Fontes</li>
          <li>Irlan Arley Targino Moreira</li>
          <li>Rafael Ferreira da Silva</li>
          <li>João Helis Junior de Azevedo Bernardo</li>
        </ul>
      </div>
      <div class="column">
        <h4>Controle e Organização de Refeições</h4>
        <ul>
          <li>Lucas Soares Chnaiderman</li>
          <li>Natalia Kils de Andrade Queiroz</li>
          <li>Yokky Ywky Dantas de Oliveira</li>
          <li>Amélia Cristina Reis e Silva</li>
          <li>Edenise Kelle de Lima Araujo Freire</li>
          <li>Antonia Francimar da Silva</li>
          <li>Immer Martins Junior</li>
        </ul>
      </div>
    </div>
    <div class="three column row">
      <div class="column">
        <h3>ETAL</h3>
        <ul>
          <li>Elenilson Vieira da Silva Filho</li>
          <li>Jeferson Queiroga Pereira</li>
          <li>Aluisio Igor Rego Fontes</li>
          <li>Kaio Henrique Fonseca Dantas</li>
          <li>Irlan Arley Targino Moreira</li>
          <li>Joao Helis Junior de Azevedo Bernardo</li>
          <li>Leandro Luttiane da Silva Linhares</li>
          <li>Luis Rodrigues da Silva Filho</li>
          <li>Francisco Sergio de Almeida Neto</li>
          <li>Rafael Ferreira da Silva</li>
          <li>Manoel do Bonfim Lins de Aquino</li>
        </ul>
      </div>
      <div class="column">
        <h3>SECTA</h3>
        <ul>
          <li>Emanuel Neto Alves de Oliveira </li>
          <li>Camila Freitas Bezerra</li>
          <li>Gleison Silva Oliveira</li>
          <li>Adriana Melo Leite</li>
          <li>Natieli Piovesan</li>
          <li>Adalva Lopes Machado</li>
        </ul>
      </div>
      <div class="column">
        <h3>SEMANARTE</h3>
        <ul>
          <li>José de Oliveira Miranda Junnior</li>
          <li>Emanuel Alves Leite</li>
          <li>Adriana Melo Leita</li>
          <li>Jucely Regis dos Anjos Silva</li>
          <li>Natalia Kils de Andrade Queiroz</li>
          <li>Wigna Thalissa Guerra</li>
          <li>Gleyberson de Almeida Gomes</li>
          <li>Ana Vitória</li>
          <li>Paulo Henrique de Araújo</li>
        </ul>
      </div>
    </div>
  </div>
</div>