{% load static %}
<div class="ui text container">
  <div class="ui two column stackable grid">
    <div class="center aligned column">
      <h2 class="ui header">
        EXPOTEC
        <div class="sub header">12 a 15 dez</div>
      </h2>
      <a href="{% static 'programacao/EXPOTEC.pdf' %}" class="ui primary button">Confira a programação <i class="right arrow icon"></i></a>
    </div>
    <div class="center aligned column">
      <h2 class="ui header">
        ETAL
        <div class="sub header">10 e 11 dez</div>
      </h2>
      <a href="{% static 'programacao/ETAL.pdf' %}" class="ui primary button">Confira a programação <i class="right arrow icon"></i></a>
    </div>
    <div class="center aligned column">
      <h2 class="ui header">
        SECTA
        <div class="sub header">12 dez</div>
      </h2>
      <a href="{% static 'programacao/SECTA.pdf' %}" target="_blank" class="ui primary button">Confira a programação <i class="right arrow icon"></i></a>
    </div>
    <div class="center aligned column">
      <h2 class="ui header">
        SEMANARTE
        <div class="sub header">12 e 15 dez</div>
      </h2>
      <a href="{% static 'programacao/SEMANARTE.pdf' %}" class="ui primary button">Confira a programação <i class="right arrow icon"></i></a>
    </div>
  </div>
</div>
