<div class="ui text container">
  <h3 class="ui header">A EXPOTEC</h3>
  <p>A Exposição Científica, Tecnológica e Cultural (EXPOTEC) do IFRN Campus Pau dos Ferros chega à sua 7ª edição e traz o temário "Ciência e tecnologia: integrando saberes, promovendo igualdade". O evento será realizado no período de 12 a 15 de dezembro de 2018.</p>
  <p>A EXPOTEC faz parte do calendário acadêmico do IFRN e visa apresentar, ao público em geral, uma mostra dos trabalhos produzidos por alunos, servidores e comunidade externa nas áreas do ensino, da pesquisa e da extensão, movimentando centenas de pessoas em suas edições.</p>
  <h3 class="ui header">O ETAL</h3>
  <p>O Encontro de Tecnologia do Alto Oeste Potiguar (ETAL) chega a sua terceira edição com o objetivo de promover atividades que envolvam os diferentes tipos de tecnologia e as mais diversas aplicabilidades no mercado de trabalho na região.</p>
  <p>Em 2018 será composta por minicursos, palestras e mesas redondas com vários temas envolvendo a área de software e hardware.</p>
  <p>O evento será sede da III Competição de Programação do Alto-Oeste e tem uma novidade: a I Olimpíada de Robótica do Alto-Oeste. Contará ainda com o Desafio de Games, com premiações para os melhores colocados.</p>
  <h3 class="ui header">O SECTA</h3>
  <p>O I Seminário de Ciência e Tecnologia de Alimentos do Alto Oeste Potiguar foi criado com o objetivo de levar aos estudantes e profissionais da área de produção alimentícia conhecimentos e ideias que possam contribuir direta ou indiretamente na sua vida acadêmica e/ou profissional.</p>
  <h3 class="ui header">A SEMANARTE</h3>
  <p>A I Semana de Artes (SEMANARTE) do IFRN/Pau dos Ferros é um evento científico, cultural e artístico, que envolve estudos teóricos e práticos na área da Arte, em suas diferentes linguagens.</p>
  <p>O evento objetiva possibilitar aos cidadãos pauferrenses e comunidades circunvizinhas vivências e experiências de produção e apreciação artísticas, através de oficinas, minicursos e apresentações culturais. Envolve também a realização de uma mesa de debate, visando fomentar a reflexão sobre Arte em geral, sobretudo Música e Teatro.</p>
</div>