{% load static %}
<div class="ui text container">
  <p>Cada inscrição na 7° EXPOTEC permitirá a submissão de até 2 (dois) trabalhos completos com até 6 (seis) autores cada. Os trabalhos submetidos deverão conter resultados de pesquisas concluídas ou em andamento, serem originais e não terem sido publicados total ou parcialmente em outro evento ou periódico científico.</p>
  <p>Os trabalhos poderão ser apresentados na forma de pôster ou comunicação oral. Após aprovação dos trabalhos, a comissão científica do evento divulgará lista dos trabalhos aprovados, assim como datas e locais e apresentação.</p>
  <p>A publicação dos trabalhos nos anais do evento estará condicionada à apresentação do trabalho por pelo menos 1 (um) dos autores inscritos no evento.</p>
  <p>O trabalho apresentado como comunicação oral terá de ser apresentado em, no máximo, 15 minutos. A organização do evento disponibilizará sala com projetor multimídia para apresentação dos trabalhos.</p>
  <h4>ÁREAS DE SUBMISSÃO</h4>
  <ol>
    <li>Artes, Letras e Linguística</li>
    <li>Ciências Agrárias</li>
    <li>Ciências Biológicas</li>
    <li>Ciências da Saúde</li>
    <li>Ciências Exatas e da Terra</li>
    <li>Ciências Humanas</li>
    <li>Ciências Sociais Aplicadas</li>
    <li>Engenharias</li>
  </ol>
  <h4>NORMAS E FORMATO DOS TRABALHOS COMPLETOS</h4>
  <ul>
    <li>Até 2 (dois) trabalhos por inscrição com até 6 (seis autores) cada;</li>
    <li>Formato Word 97-2003 ou versão mais atual;</li>
    <li>Conter entre 5 (cinco) e 10 (dez) páginas (formato A4);</li>
    <li>Todas as margens (esquerda, direita, superior e inferior) com 2,5 cm;</li>
    <li>Fonte Times New Roman 12 no corpo de texto, o qual deve ser justificado e ter espaçamento 1,5 entre linhas;</li>
    <li>Seguir a seguinte estrutura: título; autores; afiliações; resumo; palavras-chave; introdução; material e métodos ou metodologia; resultados e discussão; conclusões ou considerações finais e referências;</li>
    <li>Título com até 15 palavras;</li>
    <li>O resumo deve apresentar entre 150 e 200 palavras;</li>
    <li>Palavras–chave entre 3 (três) e 6 (seis) palavras separadas por ponto e vírgula e ponto final na última palavra;</li>
    <li>Obrigatoriamente seguir as normas da ABNT;</li>
    <li>O arquivo a ser enviado deve ser nomeado da seguinte forma: [Área de Submissão – Autor principal].</li>
  </ul>
  <div class="ui middle aligned stackable grid">
    <div class="row">
      <div class="center aligned column">
        <a href="{% static 'trabalhos/Modelo-trabalho.doc' %}" class="ui secondary button">Modelo resumo</a>
        <a href="{% static 'trabalhos/Template-Oral.pptx' %}" class="ui secondary button">Modelo apresentação oral</a>
        <a href="{% static 'trabalhos/Template-Poster.pptx' %}" class="ui secondary button">Modelo apresentação pôster</a>
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <div class="ui steps">
          <div class="step">
            <div class="content">
              <div class="title">1 a 30 de Nov</div>
              <div class="description">Submissão de trabalhos</div>
            </div>
          </div>
          <div class="step">
            <div class="content">
              <div class="title">7 de Dez</div>
              <div class="description">Divulgação dos trabalhos aprovados</div>
            </div>
          </div>
          <div class="step">
            <div class="content">
              <div class="title">13 e 14 de Dez</div>
              <div class="description">Apresentações dos trabalhos</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a href="{% url 'trabalhos_submeter_trabalho' %}" class="ui huge primary button">Submeta seu trabalho <i class="right arrow icon"></i></a>
      </div>
    </div>
  </div>
</div>
