{% extends 'base-area.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2 class="ui horizontal divider header">Meus dados</h2>
<div class="ui text container">
  {% if messages %}
  {% for message in messages %}
    <div class="ui {{ message.tags }} message">
      <p>{{ message }}</p>
    </div>
  {% endfor %}
  {% endif %}
  <form novalidate class="ui form" method="post" id="change-form" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    {% crispy form %}
    <button type="submit" class="ui primary button">Salvar</button>
  </form>
</div>
{% endblock %}
