{% extends 'registration/registration_base.html' %}
{% load i18n crispy_forms_tags crispy_forms_filters %}
{% block content %}
<h2 class="ui horizontal divider header">{% trans 'Password reset' %}</h2>
<div class="ui text container">
<p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
</div>
{% endblock %}
