.hidden.menu {
  display: none;
}

.secondary.top.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.top.menu .item,
  .secondary.top.menu .menu {
    display: none;
  }
  .secondary.top.menu .toc.item {
    display: block;
  }
}

#page-header {
  background: url("img/bg-header.jpg") no-repeat fixed center center / cover;
}
