{% extends 'base-area.html' %}
{% block content %}
<h2 class="ui horizontal divider header">Inscrições</h2>
<div class="ui text container">
  {% if messages %}
  {% for message in messages %}
    <div class="ui {{ message.tags }} message">
      <p>{{ message }}</p>
    </div>
  {% endfor %}
  {% endif %}

	{% for evento in eventos %}
  <div class="ui vertical segment">
    <h2>{{ evento.nome }}</h2>
    {% if evento.minha_inscricao and evento.permite_trabalhos %}
    <h4>Trabalhos submetidos</h4>
    <table class="ui compact table">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Situação</th>
        </tr>
      </thead>
      <tbody>
        {% for trabalho in evento.meus_trabalhos %}
        <tr>
          <td>{{ trabalho.titulo }}</td>
          <td>
            <div class="ui {% spaceless %}
            {% if trabalho.situacao == 1 %}
              green
            {% elif trabalho.situacao == 2 %}
              orange
            {% elif trabalho.situacao == 3 %}
              red
            {% else %}
              grey
            {% endif %}
            {% endspaceless %} label">
              {{ trabalho.get_situacao_display }}
            </div>
          </td>
        </tr>
        {% if trabalho.observacao %}
        <tr>
          <td colspan="2">{{ trabalho.observacao }}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    <div align="right">
      {% if evento.minha_inscricao %}
      {% if evento.permite_trabalhos and evento.meus_trabalhos.count < trabalhos_por_inscricao %}
      <a href="{% url 'trabalhos_submeter_trabalho' evento.pk %}" class="ui secondary button">Submeter trabalho</a>
      {% endif %}
      <a href="{% url 'eventos_desinscrever_evento' evento.pk %}" class="ui button">Remover inscrição</a>
      {% else %}
      <a href="{% url 'eventos_inscrever_evento' evento.pk %}" class="ui primary button">Inscrever-se</a>
      {% endif %}
    </div>
	</div>
	{% endfor %}
</div>
{% endblock %}
